:root {
  --light-color: #fff;
  --dark-color: #000;
  box-sizing: border-box;
  font-size: calc(1vw + 1em);
  line-height: 1;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
}

a:link {
  color: #1476b8;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #1430b8;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #b81414;
}

@media (min-width: 50em) {
  :root {
    font-size: 1.225em;
  }
}
